*{
    box-sizing: border-box;
    
}
.genWrapper{
    width: 100%;
}
.cntWrapper{
    margin: 0 auto;
    width: 80%;
    max-width: 1170px;
}
.flash{
    width: 30%;
    background-color: rgba(151, 235, 238, 0.295);
    text-align: center;
    display: inline-block;
    margin: 2% 1%;
    border-radius: 6px;
    padding: 20px 5px;
    color:rgba(255, 255, 255, 0.692);
}
.flash1{
    width: 30%;
    background-color: rgba(151, 235, 238, 0.651);
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    padding: 20px 5px;
    min-height: 30%;
}
.cardwrapper{
    padding-top: 10%;
    text-align: center;
}
.formstyle{
    border-radius: 2px;
    padding:10px 10px;
    width: 85%;
    display: inline-block;
    border: 0.6px;
}
form{
    text-align: center;
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(12, 197, 126, 0.712);
    box-shadow: 0 7px rgba(5, 170, 104, 0.94);
    position: relative;
    font-weight: bold;
    color: white;
}
form p{
    font-size: 34px;
    color: rgba(238, 234, 234, 0.74);
}
body{
    background-color: rgb(2, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:active{
    position: relative;
    top:7px;
    box-shadow: none;
}
h3{
    font-weight: bold;
}
.mobile{
    text-align: center;
    display: none;
    color: white;
}
@media(max-width:800px){
    .flash{
        display: none;
    }
    .flash1{
        width: 80%;
    }
    .mobile{
        display:inline-block;
        width:100%
    }

}
.flashmobile{
    width: 80%;
    background-color: rgba(151, 235, 238, 0.295);
    text-align: center;
    display: inline-block;
    margin: 2% 1%;
    border-radius: 6px;
    padding: 20px 5px;
    
    color:rgba(255, 255, 255, 0.692);
}